* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

dl, ol, ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

/* Variables Starts */

:root {
    --var-blue: rgb(42, 42, 197);
    --var-main: #5f0000;
}

/* Variables Ends */

/* Utility Class Starts */

.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    width: 100%;
}

/* Utility Class Ends */
/* sl-fixed starts  */
.sl-fixed {
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 1000;
}

.sl-fixed li {
    list-style: none;
}

.sl-fixed li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
    text-decoration: none;
    background-color: white;
    color: var(--var-main);
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: -5.3rem;
    transition: right 0.3s ease;
}

.sl-fixed li a:hover {
    right: 0;
}

.sl-fixed li a i {
    margin: 0.5rem 0.75rem;
}

.sl-fixed li a span {
    width: 4rem;
    margin-right: 1rem;
}

/* sl-fixed ends  */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--var-main);
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: hidden;
}

header nav {
    display: flex;
}

.hamburger-menu {
    display: none;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 1rem;
    list-style: none;
}

header nav ul li a {
    font-family: 'Nunito', sans-serif;
    display: flex;
    color: white;
    text-decoration: none;
    align-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0.5rem;
    transition: color 0.5s ease;
}

header nav ul li a:hover {
    color: rgb(220, 52, 52);

}

header nav ul li a:active,
header nav ul li a:hover i {
    color: rgb(220, 52, 52);
}

header nav ul li a i {
    color: white;
    font-weight: 500;
    transition: color 0.7s ease;
}

.header_logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background-color: white;
}

.header_logo img {
    position: relative;
    width: 8.5rem;
    max-width: 200%;
    right: 1rem;
    padding: 8px;
}

.header_logo::before {
    content: '';
    position: absolute;
    width: 75px;
    right: 100px;
    height: 130px;
    background-color: white;
    transform: rotate(35deg);
}

/* featured secction area-1 starts, abbr- fa1 */

.fa1 {
    position: relative;
    padding: 0 1rem 1rem 1rem;
    /* display: flex;
    flex-wrap: wrap; */
}

.fa1 a {
    width: 12.5%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: white !important;
    line-height: 4rem;
    z-index: 3;
    transition: transform 0.3s ease;
}

.fa1 a:hover {
    transform: translateY(-2rem);
    box-shadow: 3px 3px 20px 1px black;
}

.fa1 a i {
    font-size: 4.5rem;
}

.fa1 a p {
    width: 96%;
    font-size: 0.9rem;
    height: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.fa1-item-1 {
    background-color: rgb(124, 24, 24);
}

.fa1-item-2 {
    background-color: rgb(76, 13, 91);
}

.fa1-item-3 {
    background-color: rgb(49, 86, 155);
}

.fa1-item-4 {
    background-color: rgb(18, 99, 62);
}

.fa1-item-5 {
    background-color: rgb(147, 147, 37);
}

.fa1-item-6 {
    background-color: rgb(47, 97, 11);
}

.fa1-item-7 {
    background-color: rgb(101, 105, 101);
}

.fa1-item-8 {
    background-color: rgb(12, 5, 74);
}

/* featured secction area-1 ends, abbr- fa1 */

/* featured secction area-2 starts, abbr- fa2 */

.fa2 a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 1.3rem;
    width: 25%;
    height: auto;
    text-align: center;
    text-decoration: none;
    color: white !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 1em 0;
    margin-bottom: 1rem;
}

.fa2 a img {
    width: 25%;
    margin: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.8);
    transition: transform 0.7s ease, box-shadow 0.7s ease;
    transform: scale(1);
}

.fa2 a img:hover {
    transform: scale(0.95);
    box-shadow: none;
}


.fa2-item-1 {
    background-color: rgb(253 237 50);
}

.fa2-item-2 {
    background-color: rgb(255, 202, 79);
}

.fa2-item-3 {
    background-color: rgb(109, 197, 74);
}

.fa2-item-4 {
    background-color: rgb(52 48 146);
}

.cmsg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}

.first-sec{
    display: flex;
    width: 30%;
    min-width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-sec img{
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 1rem;

}

.first-sec h1{
    font-size: 1.5rem;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

.first-sec h4{
    font-size: 1rem;
    align-self: flex-start;
    color: rgb(175, 65, 25);
    margin: 0 0 1rem 1rem;

}
.second-sec{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.cm-lines{
width: 5rem;
transform: rotate(45deg);
}

.area4cmsg{
    width: 7rem;
}
.area4cmsg img{
    width: 7rem;
}

/* featured secction area-2 ends, abbr- fa2 */

/* media-query starts  */

@media (max-width:950px) {

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem;
    }

    .hm-3bars {
        width: 1.7rem;
        height: 0.3rem;
        margin: 0.15rem;
        background-color: white;
        border-radius: 20%;
        transition: trasform 0.3s ease, opacity 0.3s ease;
    }

    .bar1 {
        transition: transform 0.3s ease;
    }

    .bar2 {
        transition: transform 0.3s ease, opacity 0.2s ease;
    }

    .bar3 {
        transition: transform 0.3s ease;
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }

    .hamburger-menu:hover .bar1 {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .hamburger-menu:hover .bar2 {
        opacity: 0;
    }

    .hamburger-menu:hover .bar3 {
        transform: rotate(-45deg);
        transform-origin: left;
    }

    header nav ul {
        display: none;
    }

    .fa1 a {
        min-width: 170px;
    }

    .fa2 a {
        min-width: 50%;
    }

    .hamburger-menu:hover header nav ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 1rem;
        left: 0;
    }
}

@media (max-width:540px) {

    .fa2 a {
        min-width: 100%;
    }
}

/* media-query ends  */